@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url('http://themes.googleusercontent.com/font?kit=7KXg6nyyqN8gyMoNwQ7aOQ') format('woff');
}
@media screen and (min-height: 45em) { /*720px*/
	.navbar { position:fixed; top: 0; }
/*	.holo-content { margin-top: 96px; }*/
	body { padding-top: 96px; }
}
@media screen and (min-width: 45em) { /*720px*/
	.navbar h1, .holo-fixed-tabs { float:left; }
	.holo-fixed-tabs { width: auto; }
}
@media screen and (min-height: 45em) and (min-width: 45em) { /*720px*/
/*	.holo-content { margin-top: 48px; }*/
	body { padding-top: 48px; }
}
body .holo, .holo textarea,{
	font: 16px, 'Roboto';
	font-size: 14px;
	margin:0px;
}
.holo { overflow-x:hidden; font-family: 'Roboto';}
.holo::-webkit-scrollbar, .holo ::-webkit-scrollbar { width: 16px;  }
.holo a {text-decoration: none;border-left-color: #33B5E5;
	border-left-style: solid;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	border-right-color: #33B5E5;
	border-right-style: solid;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;}
.holo p, .holo .p, .holo-content h1 { padding: 0 24px 8px; margin: 0; }
.holo-content h1 { padding-top: 24px; padding-bottom: 16px;}
.holo p:first-child { padding-top: 16px; }
.holo .holo-buttons { padding: 0 16px; }
.holo button { cursor:pointer; }
.holo .button { background:0; border:0; }
body {
	background-color:#000;
}
/*Dark*/
.holo-dark,
.holo-dark .holo-list,
.holo-dark textarea,
.holo-dark select,
.holo-dark button,
.holo-dark .navbar
{
	background: #000;
}
.holo-dark,
.holo-dark a,
.holo-dark input,
.holo-dark textarea,
.holo-dark button,
.holo-dark select.holo-spinner
{
	color: #FFF;
}

.holo-dark .holo-field  { color:#444; }
.holo-dark .holo-button {
	background-color: rgba(255,255,255,0.205);
}
.holo-dark .holo-list li { border-color: #303030; }
.holo-dark .holo-divider { border-color: #303030; color: #C6C6C6; }

.holo-dark .holo-label:hover,
.holo-dark .holo-spinner a:hover
{ background: #111; border:none; }

.holo-dark .holo-spinner .holo-list
{ background: #222; }

.holo-dark .holo-field input, .holo-dark .holo-field textarea { border-color: #444; }
.holo-dark .holo-field-bracket { background: #444; }
.holo-dark ::-webkit-input-placeholder {
	font-style:italic;
}
.holo-dark :-moz-placeholder {
	font-style:italic;
}


.holo-dark .holo-switch label:before { background:#444; }
.holo-dark .holo-switch label:after { background:#333; }
.holo-dark .holo-switch :checked + label:before { background:#888; }
.holo-dark .holo-field, .holo-dark .holo-field textarea { background: #000; }

.holo-dark .holo-radio label:before { border-color:#444; }

.holo-dark a:after {
	border-right-color: #444;
	border-bottom-color: #444;
}

.holo-dark .holo-action-buttons,
.holo-dark .navbar h1 a.holo-up:before {
	opacity:.8;
}
.holo-dark .holo-action-overflow { background-image: url(images/white/ic_action_overflow.png); border:none;}
.holo-dark .holo-search { background-image: url(images/white/ic_action_search.png); border:none;}
.holo-dark .navbar h1 a.holo-up:before { background-image:url(images/white/ic_up.png); }


.holo-dark::-webkit-scrollbar-track-piece, .holo-dark::-webkit-scrollbar-corner,
.holo-dark ::-webkit-scrollbar-track-piece, .holo-dark ::-webkit-scrollbar-corner
 { background:#000; }
.holo-dark::-webkit-scrollbar-thumb,
.holo-dark ::-webkit-scrollbar-thumb
 { background:#222; }
 /*Dark End*/

.holo-accent-blue a:hover{
	background-color:rgba(51,181,229,.25);
}
.holo-accent-blue .navbar,
.holo-accent-blue .holo-fixed-tabs a.current-tab
{
	border-color: #33B5E5;
}
.holo-accent-blue .holo-switch :checked + label:before,
.holo-accent-blue .holo-radio :checked + label:before
{
	background-color:rgba(51,181,229,.67);
}
.holo-accent-blue .holo-fixed-tabs a:hover {
	border-color: rgba(51,181,229,.5);
}


.holo-fixed-tabs {
	height: 48px;
}
.holo-fixed-tabs ul {
	margin:0; padding:0;
}
.holo-fixed-tabs li {
	text-align: center;
	display:inline; list-style: none;
	min-width: 120px;
	float:left;
}
.holo-fixed-tabs li + li {
	border-left: rgba(128,128,128,.5) 1px solid;
}
.holo-fixed-tabs a {
	min-width: 120px;
	border-width: 0 0 6px;
	padding-top: 6px;
	padding-bottom: 4px;
	border-style: solid;
	border-color: transparent;
	display:block;
	font-weight: bold;
	text-transform:uppercase;
	line-height: 32px;
	margin-right: -1px;
	border-style: transparent;
}
.holo-fixed-tabs a.current-tab {
	border-color: inherit;
}

.holo-scrollable-tabs {
	overflow-x: auto;
}
.navbar{ border-bottom: 2px solid; overflow: hidden; width: 100%; z-index: 100; }
.navbar h1 { margin: 0; line-height: 48px; font-size: 24px; font-weight: normal; }
.navbar h1 a { display: inline-block; padding: 0 16px; border:none;}
.navbar h1 a.holo-up:before { content:""; width:24px; height: 48px; margin-left: -16px; display:block; float:left; background:url(images/black/ic_up.png) no-repeat center center; }
.navbar li { list-style:none; }

.holo-action-buttons { padding: 0; position: absolute; top:0; right: 0; background-repeat:no-repeat; background-position: center center; }
.holo-action-buttons { margin:0; }
.holo-action-buttons li { display:inline; }
.holo-action-buttons a { float:left; line-height:48px; width: 48px; text-align:center; font-size: 32px; }

#chat {
	margin-top: 10px;
	width: 80%;
	height: 83%;
	border: 5px solid #33b5e5;
	border-radius: 5px;
	padding: 5px;
	overflow:auto;
	float: left;
	border-top-left-radius: 15em 1em;
	border-top-right-radius: 15em 1em;
    border-bottom-right-radius: 15em 1em;
    border-bottom-left-radius: 15em 1em;
}
#chat a {
	 padding:3px;
}
#bartext {
	display:inline;
	margin-bottom: 0px;
	/*position: fixed;*/
	width: 100%;
}
#friends {
	border: 5px solid #33B5E5;
	border-radius: 5px;
	display:block;
	overflow:auto;
	float: left;
	width: 17%;
	text-decoration: none;
	margin-top: 10px;
	border-top-left-radius: 15em 1em;
	border-top-right-radius: 15em 1em;
    border-bottom-right-radius: 15em 1em;
    border-bottom-left-radius: 15em 1em;
}
#friends ul {
	list-style-type: none;
	margin:0; padding:0;
}
#friends li {
	width:100%;
	display:block;
	text-align: center;
	list-style: none;
	min-width: 120px;
	float:left;
	height: 40px;
	/*border-bottom:rgba(128,128,128,.5) 2px solid;*/
}
#friends ul li a {
	/*border-width: 0 0 6px;*/
	padding-top: 6px;
	/*padding-bottom: 4px;*/
	display: block;
	border-bottom:rgba(128,128,128,.5) 5px solid;
	/*border-style: solid;*/
	font-weight: bold;
	/*line-height: 32px;*/
}
#friends ul li a:hover{
	background-color:rgba(51,181,229,.25);
	border-bottom: rgba(51,181,229,.8) 5px solid;
}
textarea {
	width:74%;
	background-color: #000;
	border: 5px;
	border-color: #33B5E5;
	border-style: solid;
	border-width:0 0 3px;
	/*border-radius: 3px;*/
	/*padding:3px 0px;*/
	font-family: inherit;
	font-size: 14px;
	color: #fff;
}
button, input[type="button"], input[type="submit"], input[type="reset"] {
	margin: 3px 1px;
	padding: 6px 6px;
	width:100px;
	border-width:1px;
	border-style:solid;
	border-color:transparent;
	-webkit-border-radius:1px;
	   -moz-border-radius:1px;
	        border-radius:1px;
	/*outline-style:none;
	outline-width:0px;*/
	font-family:'Roboto', Arial, Helvetica, sans-serif;	
	/*-webkit-box-shadow:0px 0px 1px 0px rgba(0,0,0,0.2);
	   -moz-box-shadow:0px 0px 1px 0px rgba(0,0,0,0.2);
	        box-shadow:0px 0px 1px 0px rgba(0,0,0,0.2);*/
	display:inline;
	float: left;
}
button, input[type="button"], input[type="submit"], input[type="reset"] {
	background-color:#424343;
	border-top-color:#828283;
	border-bottom-color:#313132;
	color:#FFFFFF;
	float: left;
	display:inline;
}
button:focus, input[type="button"]:focus, input[type="submit"]:focus {
	-webkit-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 3px rgba(51,181,229,0.4);
}
button:enabled:active, input[type="button"]:enabled:active, input[type="submit"]:enabled:active, input[type="reset"]:enabled:active,
button:enabled.active, input[type="button"]:enabled.active, input[type="submit"]:enabled.active, input[type="reset"]:enabled.active {
	background-color:#32A5CF;
	background-color:rgba(51,181,229,0.9);
	
	border-top-color:#68BCD9;
	border-top-color:rgba(107,201,237,0.9);
	border-bottom-color:#2882A2;
	border-bottom-color:rgba(41,114,183,0.9);
	
	-webkit-box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
	   -moz-box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
	        box-shadow:0px 0px 0px 4px rgba(51,181,229,0.4);
}
/*button, input[type="button"], input[type="submit"], input[type="reset"], input[type="radio"], input[type="checkbox"] {
	outline-style:none;
	outline-width:0px;
}*/