html,
body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0; }

.logo-img,
input {
  width: 100%; }

.text {
  font-weight: 400; }
  .text--bit_title {
    font-size: 2rem; }

.row {
  margin-right: 0rem;
  margin-left: 0rem; }

.key-features__item {
  margin: 3rem auto; }

.contact-area {
  padding: 5rem 0;
  background-color: #0075c9; }
  .contact-area__logo {
    margin: 0 auto; }

.contact-area-form__checkbox {
  display: none; }

.contact-area-form .label_checkbox {
  cursor: pointer;
  display: inline-block;
  padding: 1rem; }
.contact-area-form .icon {
  color: #fff;
  text-align: center;
  display: inline-block; }
  .contact-area-form .icon .fa {
    visibility: hidden; }
.contact-area-form .description {
  color: #fff; }

.contact-area-form input:checked + .icon .fa {
  visibility: visible; }

.contact-area-form__button {
  width: 100%;
  font-size: 1.5em;
  padding: 1rem 0;
  background-color: #ff671d;
  border: none;
  color: #fff; }
  .contact-area-form__button:active {
    background-color: #d04400;
    transition: background-color 0.7s ease-out; }
  .contact-area-form__button:focus, .contact-area-form__button:active {
    outline: none; }

.contact-area-form__input {
  height: 1rem;
  color: #fff;
  font-size: 1.3em;
  padding: 1.5rem 0.5rem;
  border: none;
  border-bottom: 2px solid #ddd;
  box-sizing: border-box;
  background-color: #0075c9;
  transition: padding-left 0.7s ease-out, border-bottom 0.7s ease-out; }
  .contact-area-form__input:focus {
    border-bottom: 2px solid #ff671d;
    padding-left: 1.55rem;
    outline: none; }
  .contact-area-form__input::placeholder {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #ddd;
    font-style: italic; }

.links-area__link {
  padding: 1rem 0; }
  .links-area__link__a {
    color: #767676;
    text-decoration: underline;
    font-weight: 300;
    transition: color 0.7s ease-out; }
  .links-area__link__a:hover {
    color: #0594f6; }

@media only screen and (min-width: 75em) {
  .contact-area {
    min-height: 100%; }

  .links-area {
    clear: both;
    margin-top: -4rem;
    margin-left: 3rem; }

  .info-area {
    float: left; }

  div[class*="col"] {
    padding-right: 1rem;
    padding-left: 1rem; } }

/*# sourceMappingURL=style.css.map */
