/* ==========================================================================
Includes
========================================================================== */
/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  background: #f0f0f0; }

.hljs, .hljs-subst {
  color: #444; }

.hljs-comment {
  color: #888; }

.hljs-attribute, .hljs-doctag, .hljs-keyword, .hljs-meta-keyword, .hljs-name, .hljs-selector-tag {
  font-weight: 700; }

.hljs-deletion, .hljs-number, .hljs-quote, .hljs-selector-class, .hljs-selector-id, .hljs-string, .hljs-template-tag, .hljs-type {
  color: #800; }

.hljs-section, .hljs-title {
  color: #800;
  font-weight: 700; }

.hljs-link, .hljs-regexp, .hljs-selector-attr, .hljs-selector-pseudo, .hljs-symbol, .hljs-template-variable, .hljs-variable {
  color: #bc6060; }

.hljs-literal {
  color: #78a960; }

.hljs-addition, .hljs-built_in, .hljs-bullet, .hljs-code {
  color: #397300; }

.hljs-meta {
  color: #1f7199; }

.hljs-meta-string {
  color: #4d99bf; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: 700; }

#nprogress {
  pointer-events: none; }

#nprogress .bar {
  background: #29d;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px; }

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d,0 0 5px #29d;
  opacity: 1;
  transform: rotate(3deg) translate(0, -4px); }

#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px; }

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  animation: nprogress-spinner .4s linear infinite; }

.nprogress-custom-parent {
  overflow: hidden;
  position: relative; }

.nprogress-custom-parent #nprogress .bar, .nprogress-custom-parent #nprogress .spinner {
  position: absolute; }

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0); }
  100% {
    transform: rotate(360deg); } }

/*
Change the accent colors here. Make sure they work on light an dark
backgrounds or as background color for light and dark text color
*/
/* Light */
/* Dark */
/* ==========================================================================
Basics
========================================================================== */
body {
  font: 300 1.1em / 1.5em "Trebuchet MS", Helvetica, sans-serif;
  color: #595B66; }

::-moz-selection, ::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none; }

a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: all ease-out 0.2s;
  transition: all ease-out 0.2s; }
  a:hover, a:focus {
    color: #1F2026; }

.post-content a {
  border-bottom: 2px solid #36D995; }
  .post-content a:hover, .post-content a:focus {
    border-color: #2DB77E; }

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  text-rendering: optimizeLegibility;
  color: #1F2026; }
  .post-content h1 a, .post-content h2 a, .post-content h3 a, .post-content h4 a, .post-content h5 a, .post-content h6 a {
    font-weight: inherit;
    color: inherit; }

.post-content h1 {
  font-size: 2em;
  line-height: 1em;
  margin: 2em 0 -0.5em; }

.post-content h2 {
  font-size: 1.75em;
  line-height: 1.143em;
  margin: 2.286em 0 -0.571em; }

.post-content h3 {
  font-size: 1.5em;
  line-height: 1.334em;
  margin: 2em 0 -0.667em; }

.post-content h4 {
  font-size: 1.25em;
  line-height: 1.2em;
  margin: 2.4em 0 -0.8em; }

.post-content p {
  margin: 2em auto; }

.post-content ul {
  list-style: none; }

.post-content li {
  position: relative; }

.post-content ul > li:before,
.post-content ol > li:before {
  position: absolute;
  width: 2em;
  margin-left: -3em;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: right;
  color: #1F2026; }

.post-content ul > li:before {
  margin-top: 0.125em;
  content: '*'; }

.post-content ol {
  list-style-type: none;
  counter-reset: item; }

.post-content ol > li:before {
  content: counter(item) ". " !important;
  counter-increment: item; }

.post-content ol,
.post-content ul {
  padding-left: 3em;
  margin: 2em auto; }
  .post-content ol ol,
  .post-content ol ul,
  .post-content ul ol,
  .post-content ul ul {
    padding-left: 1.5em;
    margin: 1em auto; }

.post-content dl {
  margin: 2em auto; }
  .post-content dl dt {
    font-size: 0.875em;
    line-height: 1.143em;
    font-weight: 700;
    margin-bottom: 0.571em;
    color: #1F2026; }
  .post-content dl dd {
    margin-left: 1em;
    margin-bottom: 1.5em; }

.post-content hr {
  display: block;
  height: 1px;
  margin: 2em 0;
  padding: 0;
  background: #E1E2E6;
  border: 0; }

.post-content blockquote {
  margin: 2em auto;
  padding: 0 1em;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-left: 0.25em solid #D4D5D9;
  font-style: italic;
  font-weight: 400;
  color: #595B66;
  background: transparent; }
  .post-content blockquote * {
    margin: 1em auto; }
    .post-content blockquote *:first-child {
      margin-top: 0; }
    .post-content blockquote *:last-child {
      margin-bottom: 0; }

.post-content em, .post-content i {
  font-style: italic;
  color: #363740; }
  .post-content em a, .post-content i a {
    font-weight: inherit;
    font-style: inherit;
    color: inherit; }

.post-content strong, .post-content b {
  font-weight: 700;
  color: #363740; }
  .post-content strong a, .post-content b a {
    font-weight: inherit;
    color: inherit; }

.post-content small {
  font-size: 0.9em; }

.post-content mark {
  background-color: #FFC336; }

.post-content code,
.post-content tt {
  position: relative;
  top: -1px;
  padding: 3px 6px;
  margin: -1px 2px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.875em;
  line-height: 1.143em;
  white-space: pre-line;
  background: #E1E2E6;
  color: #000;
  font-weight: 400;
  border-radius: 2px; }

.post-content pre {
  margin: 2em auto;
  width: 100%;
  padding: 1em;
  font-family: "Lucida Console", Monaco, monospace;
  white-space: pre;
  overflow: auto;
  background: #9D9FA6;
  color: #fff;
  box-sizing: border-box; }
  .post-content pre code,
  .post-content pre tt {
    position: static;
    top: auto;
    font-size: 1em;
    line-height: 1.5em;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    vertical-align: inherit;
    border: none;
    padding: 0;
    background: transparent; }

.post-content pre.codeblock {
  position: relative;
  padding: 1em;
  overflow: hidden; }
  .post-content pre.codeblock code {
    display: block;
    border: 0;
    padding: 1.5em;
    margin: -1em;
    margin-left: 2em;
    white-space: inherit;
    overflow-x: auto;
    background: #E1E2E6; }
  .post-content pre.codeblock .lines {
    position: absolute;
    width: 3em;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1.5em 0;
    border-right: 1px solid #D4D5D9;
    font-size: 1em;
    line-height: 1.5em;
    text-align: right;
    box-sizing: border-box;
    background: #E1E2E6;
    user-select: none;
    cursor: default; }
    .post-content pre.codeblock .lines .line {
      display: block;
      padding-right: 0.5em;
      color: #9D9FA6; }

.post-content kbd {
  display: inline-block;
  margin: 0 2px 4px;
  padding: 1px 8px;
  border: #ccc 1px solid;
  color: #666;
  text-shadow: #fff 0 1px 0;
  font-size: 0.875em;
  font-weight: bold;
  background: #F2F3F5;
  border-radius: 4px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 #fff inset; }

.post-content table {
  width: 100%;
  max-width: 100%;
  margin: 2em 0;
  background-color: transparent;
  border: 1px solid #E1E2E6;
  border-collapse: collapse; }

.post-content table th,
.post-content table td {
  position: relative;
  padding: 1em;
  line-height: 1em;
  text-align: left;
  border: 1px solid #E1E2E6; }

.post-content table th {
  font-weight: 700;
  font-size: 0.75em;
  line-height: 1.334em;
  padding: 1.334em;
  color: #1F2026; }

.post-content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 2.5em auto; }

.post-content iframe {
  margin: 2.5em auto; }

.post-content .fluid-width-video-wrapper {
  margin: 2.5em auto; }
  .post-content .fluid-width-video-wrapper iframe {
    margin: auto; }

.avatar {
  position: relative;
  overflow: hidden;
  background: #E1E2E6;
  margin: 0; }
  .avatar:before, .avatar:after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 50%;
    bottom: 35%;
    left: 25%;
    border-radius: 100%;
    background: #D4D5D9; }
  .avatar:after {
    width: 100%;
    bottom: -25%;
    left: 0; }
  .avatar img {
    position: relative;
    z-index: 2;
    display: block;
    width: 100%;
    height: auto; }

/* ==========================================================================
Default
========================================================================== */
#nprogress .bar {
  background: #36D995 !important;
  height: 3px !important; }
  #nprogress .bar .peg {
    box-shadow: none !important; }

#nprogress .spinner {
  display: none !important;
  top: 50% !important;
  right: 50% !important; }
  #nprogress .spinner .spinner-icon {
    width: 4em !important;
    height: 4em !important;
    margin: -4em -4em 0 0 !important;
    border-top-color: #36D995 !important;
    border-left-color: #36D995 !important; }

body {
  background: #fff; }

.menu-initial body {
  transition: all ease-out 0.3s;
  overflow: hidden; }

.menu-active body {
  background: #1F2026; }

.inner {
  max-width: 48em;
  margin: 0 auto;
  padding: 0 1em; }

#wrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 6em;
  background: #F2F3F5; }

/* ==========================================================================
Push Animations
========================================================================== */
@keyframes pushPrev {
  0% {
    transform: translate3d(0, 0, 0); }
  75% {
    opacity: 1; }
  100% {
    transform: translate3d(-150%, 0, 0);
    opacity: 0; } }

@keyframes pushedPrev {
  0% {
    transform: translate3d(100%, 0, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

@keyframes pushNext {
  0% {
    transform: translate3d(0, 0, 0); }
  75% {
    opacity: 1; }
  100% {
    transform: translate3d(150%, 0, 0);
    opacity: 0; } }

@keyframes pushedNext {
  0% {
    transform: translate3d(-100%, 0, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

#push {
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  opacity: 1; }

.push-next #push {
  animation: pushNext ease-in 0.5s forwards !important; }

.pushed-next #push {
  animation: pushedNext ease-out 0.5s forwards; }

.push-prev #push {
  animation: pushPrev ease-in 0.5s forwards !important; }

.pushed-prev #push {
  animation: pushedPrev ease-out 0.5s forwards; }

/* ==========================================================================
Navigation
========================================================================== */
#nav {
  position: relative;
  background: #fff;
  z-index: 70;
  transition: all ease-out 0.4s;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  opacity: 1; }
  #nav:after {
    clear: both;
    content: '';
    display: table; }
  #nav .nav-logo {
    float: left;
    max-width: 100%;
    height: 4em;
    padding: 1em;
    padding-right: 5em;
    box-sizing: border-box; }
    #nav .nav-logo img {
      width: auto;
      max-width: none;
      height: 2em;
      margin: 0; }
    #nav .nav-logo .name {
      display: block;
      line-height: 2em;
      font-weight: 800;
      color: #363740;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  #nav .nav-menu {
    position: absolute;
    right: 0;
    top: 0; }
    #nav .nav-menu:after {
      clear: both;
      content: '';
      display: table; }
    #nav .nav-menu:hover a span {
      display: none; }
    #nav .nav-menu:hover a:after {
      content: '\25C6'; }
    #nav .nav-menu a {
      display: block;
      width: auto;
      height: 1em;
      line-height: 1em;
      padding: 0.2em;
      text-align: center;
      float: left;
      cursor: pointer;
      color: #36D995;
      font-size: 6rem; }
      #nav .nav-menu a i:before {
        margin: auto; }

.loading #nav {
  transform: translate3d(0, -100%, 0);
  opacity: 0; }

#menu {
  display: none;
  position: fixed;
  left: 50%;
  top: 5%;
  width: 30em;
  height: 90%;
  margin-left: -15em;
  background: transparent;
  box-sizing: border-box;
  padding: 3em 0 0;
  overflow: hidden;
  transition: all ease-out 0.3s;
  transform: translate3d(0, 2em, 0);
  transform-style: preserve-3d;
  opacity: 0;
  z-index: 100; }
  @media only screen and (max-width: 50em) {
    #menu {
      width: 90%;
      left: 5%;
      margin-left: auto; } }
  #menu.initial {
    display: block; }
  #menu.active {
    opacity: 1;
    transform: translate3d(0, 0, 0); }
  #menu .menu-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5em;
    padding: 1em 1.5em 0.5em;
    margin-bottom: 1em;
    line-height: 2em;
    z-index: 110;
    box-sizing: border-box;
    background: #fff; }
    #menu .menu-header:before {
      content: '';
      position: absolute;
      left: -5%;
      bottom: -1em;
      width: 110%;
      height: 2em;
      background: #fff;
      border-bottom: 4px solid #36D995;
      box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.1);
      transform: rotate(2.5deg);
      transition: all ease-out 0.2s;
      z-index: 115; }
    #menu .menu-header:after {
      clear: both;
      content: '';
      display: table; }
    #menu .menu-header .menu-label {
      position: relative;
      display: block;
      float: left;
      z-index: 120; }
    #menu .menu-header .menu-close {
      position: relative;
      display: block;
      float: right;
      width: 2em;
      height: 2em;
      padding: 1em;
      margin: -1em -1.5em -1em 0;
      cursor: pointer;
      z-index: 125; }
      #menu .menu-header .menu-close:after, #menu .menu-header .menu-close:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        background: #9D9FA6;
        transform: rotate(45deg); }
      #menu .menu-header .menu-close:hover:after, #menu .menu-header .menu-close:hover:before, #menu .menu-header .menu-close:focus:after, #menu .menu-header .menu-close:focus:before {
        background: #737580; }
      #menu .menu-header .menu-close:after {
        width: 2px;
        height: 1em;
        margin: -0.5em 0 0 -1px; }
      #menu .menu-header .menu-close:before {
        width: 1em;
        height: 2px;
        margin: -1px 0 0 -0.5em; }
  #menu .menu-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 2em 0;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff; }
    #menu .menu-list .menu-list-item {
      position: relative;
      z-index: 5; }
      #menu .menu-list .menu-list-item:after {
        content: '';
        position: absolute;
        left: 1.5em;
        top: 0;
        width: 100%;
        border-top: 1px solid #E1E2E6; }
      #menu .menu-list .menu-list-item:first-child:after {
        display: none; }
      #menu .menu-list .menu-list-item a {
        position: relative;
        display: block;
        padding: 1em 1.5em;
        font-weight: inherit;
        font-weight: 400; }
        #menu .menu-list .menu-list-item a:hover, #menu .menu-list .menu-list-item a:focus {
          background: #E1E2E6; }
        #menu .menu-list .menu-list-item a i {
          color: inherit; }
        #menu .menu-list .menu-list-item a.current {
          font-weight: 700;
          color: #363740; }
          #menu .menu-list .menu-list-item a.current:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            border-left: 4px solid #36D995; }
      #menu .menu-list .menu-list-item.menu-list-item-follow {
        display: flex;
        padding: 1em 0;
        justify-content: space-around;
        align-content: stretch; }
        #menu .menu-list .menu-list-item.menu-list-item-follow a {
          flex: 1;
          text-align: center; }
          #menu .menu-list .menu-list-item.menu-list-item-follow a:hover, #menu .menu-list .menu-list-item.menu-list-item-follow a:focus {
            background: none; }

.overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 80;
  display: none; }
  .overlay:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #1F2026;
    opacity: 0;
    transition: all ease-out 0.3s;
    transform-style: preserve-3d; }

.menu-initial .overlay {
  display: block; }

.menu-active .overlay:before {
  opacity: 0.9; }

/* ==========================================================================
Header
========================================================================== */
#header {
  position: relative;
  padding: 4em 0; }
  #header .inner {
    position: relative;
    z-index: 2; }
  #header .header-title {
    display: block;
    text-align: center; }
  #header .header-name {
    font-weight: 700;
    letter-spacing: -1px;
    display: block;
    line-height: 1em;
    font-size: 2em;
    text-decoration: none;
    color: #1F2026;
    padding: 0;
    margin: 0; }
    #header .header-name em {
      font-family: Helvetica, sans-serif;
      position: relative;
      top: -0.334em;
      margin-left: -0.25em;
      display: inline-block;
      width: auto;
      min-width: 0.5em;
      height: 1.5em;
      padding: 0 0.5em;
      line-height: 1.5em;
      font-style: normal;
      font-weight: 400;
      font-size: 0.5em;
      letter-spacing: 1px;
      background: #36D995;
      color: #fff;
      border-radius: 2em; }
  #header.has-cover .header-name {
    color: #fff; }
  #header .header-description {
    display: block;
    margin: 1em auto 0;
    color: #9D9FA6;
    position: relative;
    font-weight: 300; }
    #header .header-description:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100px;
      margin-left: -50px;
      left: 50%;
      top: -0.5em;
      background: #D4D5D9; }
  #header.has-cover .header-description {
    color: #fff; }
    #header.has-cover .header-description:after {
      background: #fff; }
  #header .header-image {
    width: 3em;
    height: 3em;
    margin: -1em auto 1em;
    overflow: hidden;
    border-radius: 3em;
    border: 2px solid #36D995; }
    #header .header-image img {
      width: 100%;
      margin: auto; }
  #header.has-cover .header-image {
    border-color: #fff; }
  #header .header-meta {
    display: block;
    margin: 1.334em auto -1.334em;
    color: #9D9FA6;
    position: relative;
    font-weight: 300;
    font-size: 0.75em;
    line-height: 1.334em; }
    #header .header-meta span {
      display: inline-block;
      font-weight: 400;
      color: #595B66;
      margin-right: 1em;
      margin-bottom: 1em;
      white-space: nowrap; }
      #header .header-meta span a {
        color: inherit;
        text-decoration: none;
        border-bottom: 1px solid transparent; }
        #header .header-meta span a:hover, #header .header-meta span a:focus {
          border-bottom-color: #36D995; }
      #header .header-meta span i {
        color: #9D9FA6; }
  #header.has-cover .header-meta {
    color: #fff; }
    #header.has-cover .header-meta span {
      color: #fff; }
      #header.has-cover .header-meta span i {
        color: #fff;
        opacity: 0.5; }
  #header .header-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-top: -4em;
    padding: 4em 0;
    background: no-repeat fixed center 100% / cover;
    z-index: 1; }
    @media only screen and (max-width: 50em) {
      #header .header-cover {
        background-attachment: scroll; } }
    #header .header-cover:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.2); }
    #header .header-cover:after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      border-bottom: 4px solid #36D995; }

/* ==========================================================================
Footer
========================================================================== */
#footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 0.75em;
  line-height: 1.334em;
  background: #1F2026;
  color: #737580;
  z-index: 20;
  transition: all ease-out 0.4s;
  transform: translate3d(0, 0, 0);
  transform-style: preserve-3d;
  opacity: 1; }
  #footer a {
    color: #9D9FA6;
    font-weight: 400; }
  #footer .credits {
    text-align: center;
    font-size: 0.75em;
    line-height: 1.334em;
    padding: 2.667em;
    overflow: auto; }
    #footer .credits span {
      display: block; }
    #footer .credits .credits-theme {
      float: left; }
    #footer .credits .credits-software {
      float: right; }

.loading #footer {
  transform: translate3d(0, 100%, 0);
  opacity: 0; }

/* ==========================================================================
Post
========================================================================== */
.post {
  position: relative;
  z-index: 20; }
  .post .post-image {
    display: block;
    margin: 0;
    padding: 0; }
    .post .post-image img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0;
      padding: 0; }
  .post .post-meta {
    display: block;
    font-size: 0.75em;
    line-height: 1.334em;
    font-weight: 400;
    margin-bottom: 1.334em; }
    .post .post-meta a {
      color: #595B66;
      text-decoration: none;
      border-bottom: 1px solid transparent; }
      .post .post-meta a:hover, .post .post-meta a:focus {
        border-bottom-color: #36D995; }
  .post .post-title {
    position: relative;
    color: #000;
    font-size: 2em;
    line-height: 1.375em;
    font-weight: 800;
    text-indent: -1px;
    letter-spacing: -1px;
    margin: 0.25em 0 0.75em; }
    .post .post-title:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: -0.334em;
      width: 1em;
      margin-bottom: -2px;
      border-bottom: 4px solid #36D995; }
    .post .post-title a {
      text-decoration: none;
      color: inherit;
      font-weight: inherit; }
  .post .post-header {
    padding: 4em 0 0;
    margin-bottom: 3em; }

/* ==========================================================================
Index
========================================================================== */
#post-index {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 4em;
  padding: 0.5em;
  transition: all ease-in 0.5s;
  z-index: 10; }

.loading #post-index {
  opacity: 0; }

@keyframes fade {
  0% {
    transform: translate3d(0, 3em, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }

.post-list {
  position: relative; }
  .post-list .post {
    float: left;
    width: 33.30%;
    transform: translate3d(0, 3em, 0);
    transform-style: preserve-3d;
    opacity: 0;
    animation: fade ease-out 0.5s forwards;
    animation-delay: 1.4s; }
    @media only screen and (max-width: 50em) {
      .post-list .post {
        width: 49.90%; } }
    @media only screen and (max-width: 30em) {
      .post-list .post {
        width: 100%;
        float: none; } }
    .post-list .post.initial {
      z-index: 25; }
      .post-list .post.initial .inner {
        transition: all ease-in 0.5s; }
    .post-list .post.active .inner {
      transform: scale(1.5); }
    .post-list .post:nth-child(1) {
      animation-delay: 0.1s; }
    .post-list .post:nth-child(2) {
      animation-delay: 0.2s; }
    .post-list .post:nth-child(3) {
      animation-delay: 0.3s; }
    .post-list .post:nth-child(4) {
      animation-delay: 0.4s; }
    .post-list .post:nth-child(5) {
      animation-delay: 0.5s; }
    .post-list .post:nth-child(6) {
      animation-delay: 0.6s; }
    .post-list .post:nth-child(7) {
      animation-delay: 0.7s; }
    .post-list .post:nth-child(8) {
      animation-delay: 0.8s; }
    .post-list .post:nth-child(9) {
      animation-delay: 0.9s; }
    .post-list .post:nth-child(10) {
      animation-delay: 1.0s; }
    .post-list .post:nth-child(11) {
      animation-delay: 1.1s; }
    .post-list .post:nth-child(12) {
      animation-delay: 1.2s; }
    .post-list .post.post.featured .inner {
      background: #1F2026;
      color: #9D9FA6; }
      .post-list .post.post.featured .inner:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border-right: 3em solid #FFC336;
        border-bottom: 3em solid transparent;
        z-index: 1; }
      .post-list .post.post.featured .inner:before {
        content: '\272A';
        position: absolute;
        right: 0;
        top: 0;
        width: 1.25em;
        height: 1.75em;
        line-height: 1.2em;
        text-align: center;
        color: #1F2026;
        font-size: x-large;
        z-index: 2; }
    .post-list .post.post.featured .post-image:after {
      background: #1F2026;
      bottom: -2.5em;
      height: 5em; }
    .post-list .post.post.featured .post-title {
      color: #fff; }
    .post-list .post.post.featured .post-more a {
      color: #fff; }
    .post-list .post .inner {
      padding: 2em;
      margin: 0.5em;
      max-width: none;
      background: #fff;
      box-sizing: border-box;
      transition: all ease-out 0.2s;
      transform: scale(1);
      transform-style: preserve-3d; }
      @media only screen and (max-width: 50em) {
        .post-list .post .inner {
          padding: 1em; } }
    .post-list .post .post-link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10; }
    .post-list .post .post-image {
      position: relative;
      margin: -2em -2em 0;
      overflow: hidden;
      background: #36D995; }
      @media only screen and (max-width: 50em) {
        .post-list .post .post-image {
          margin: -1em -1em 0; } }
      .post-list .post .post-image img {
        transition: all ease-out 0.3s;
        transform: scale(1);
        transform-style: preserve-3d;
        opacity: 1; }
      .post-list .post .post-image:after {
        content: '';
        position: absolute;
        left: -5%;
        bottom: -2.5em;
        width: 110%;
        height: 4em;
        background: #fff;
        border-top: 4px solid #36D995;
        box-shadow: 0 0 2em rgba(0, 0, 0, 0.2);
        transform: rotate(5deg);
        transition: all ease-out 0.2s; }
    .post-list .post:hover .inner, .post-list .post:focus .inner {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 2px 6px rgba(0, 0, 0, 0.05), 0 8px 48px rgba(0, 0, 0, 0.1); }
    .post-list .post:hover .post-image img, .post-list .post:focus .post-image img {
      transform: scale(1.05);
      opacity: 0.5; }
    .post-list .post:hover .post-image:after, .post-list .post:focus .post-image:after {
      border-top-width: 0;
      box-shadow: none; }
    .post-list .post .post-title {
      font-size: 1.5em;
      line-height: 1.167em; }
    .post-list .post .post-excerpt {
      margin: 0; }
    .post-list .post .post-more {
      display: block;
      margin-top: 1.5em; }
      .post-list .post .post-more a {
        display: inline-block;
        font-size: 0.875em;
        line-height: 1.143em;
        font-weight: 400;
        color: #363740; }
        .post-list .post .post-more a:hover, .post-list .post .post-more a:focus {
          color: #1F2026; }
        .post-list .post .post-more a i {
          color: #2DB77E; }

/* ==========================================================================
Post Footer
========================================================================== */
.post-footer {
  margin: 4em 0; }
  .post-footer:after {
    clear: both;
    content: '';
    display: table; }
  .post-footer .post-tags {
    float: left;
    max-width: 60%; }
    .post-footer .post-tags a {
      font-size: 0.875em;
      line-height: 1.714em;
      display: inline-block;
      border: 0;
      margin-bottom: 0.286em;
      padding: 0.286em 0.714em;
      border-radius: 2px;
      color: #fff;
      background: #36D995;
      font-weight: 400; }
      .post-footer .post-tags a:hover, .post-footer .post-tags a:focus {
        background: #2DB77E; }
  .post-footer .post-share {
    float: right; }
    .post-footer .post-share a {
      font-size: 0.75em;
      display: block;
      width: 2em;
      height: 2em;
      line-height: 2em;
      text-align: center;
      text-decoration: none;
      padding: 0.334em;
      margin: 0 0 0.334em 0.334em;
      float: left;
      border-radius: 2px;
      color: #fff;
      background: #737580; }
      .post-footer .post-share a:before {
        margin: auto; }
      .post-footer .post-share a span {
        display: none; }
      .post-footer .post-share a.icon-twitter {
        background-color: #3ea9dd; }
      .post-footer .post-share a.icon-facebook {
        background-color: #3c5a98; }
      .post-footer .post-share a.icon-gplus {
        background-color: #d14836; }

/* ==========================================================================
Post Author
========================================================================== */
.post-author {
  clear: both;
  margin: 4em 0;
  padding: 2.5em;
  background: #fff; }
  @media only screen and (max-width: 30em) {
    .post-author {
      padding: 1em; } }
  .post-author .post-author-avatar {
    display: block;
    float: left;
    width: 6em;
    height: 6em;
    margin: 0;
    border-radius: 12em;
    overflow: hidden; }
    @media only screen and (max-width: 30em) {
      .post-author .post-author-avatar {
        float: none;
        width: 4em;
        height: 4em;
        margin-bottom: 1em; } }
    .post-author .post-author-avatar img {
      display: block;
      width: 100%;
      height: auto;
      margin: 0; }
  .post-author .post-author-bio {
    padding-left: 8em; }
    @media only screen and (max-width: 30em) {
      .post-author .post-author-bio {
        padding-left: 0; } }
    .post-author .post-author-bio .post-author-name {
      font-size: 1.25em;
      line-height: 1.2em;
      margin-top: 0;
      margin-bottom: 0;
      font-weight: 800;
      color: #363740; }
    .post-author .post-author-bio .post-author-about {
      font-size: 0.75em;
      line-height: 1.667em;
      margin: 0;
      padding-top: 1em;
      border-top: 1px solid #E1E2E6; }
    .post-author .post-author-bio .post-author-meta {
      margin-top: 0.571em;
      margin-bottom: 0; }
      .post-author .post-author-bio .post-author-meta span {
        display: inline-block;
        font-size: 0.875em;
        line-height: 1.143em;
        margin-right: 1.143em;
        margin-bottom: 1.143em;
        color: #737580; }
        .post-author .post-author-bio .post-author-meta span i {
          color: #9D9FA6; }

/* ==========================================================================
Post Comments
========================================================================== */
.post-comments {
  clear: both;
  margin: -3em 0 4em;
  border-radius: 2px;
  padding: 1em;
  border: 1px solid #E1E2E6; }
  @media only screen and (max-width: 30em) {
    .post-comments {
      padding: 0.5em; } }

/* ==========================================================================
Post Subscribe
========================================================================== */
.post-subscribe {
  position: relative;
  padding: 2.5em 1em;
  margin: -3em 0 4em;
  text-align: center;
  border: 1px solid #E1E2E6;
  box-sizing: border-box;
  border-radius: 2px;
  background: radial-gradient(circle, #E1E2E6 10%, transparent 10%), radial-gradient(circle, #E1E2E6 10%, transparent 10%) 0.5em 0.5em;
  background-size: 1em 1em;
  box-shadow: inset 0 0 0 0.75em #F2F3F5; }
  @media only screen and (max-width: 30em) {
    .post-subscribe {
      padding: 2em 0.5em 1em; } }
  .post-subscribe p {
    display: inline-block;
    font-size: 0.75em;
    line-height: 1.334em;
    font-weight: 400;
    margin: 0 2.667em 2.667em;
    background: #F2F3F5;
    box-shadow: 0 0 0 0.75em #F2F3F5;
    border-radius: 4px;
    color: #9D9FA6; }
  .post-subscribe .post-subscribe-form {
    position: relative;
    display: block;
    margin: 0 2em;
    box-sizing: border-box; }
    @media only screen and (max-width: 30em) {
      .post-subscribe .post-subscribe-form {
        margin: 1em; } }
    .post-subscribe .post-subscribe-form .post-subscribe-input {
      width: 100%;
      height: 3.5em;
      padding: 0.25em 1em;
      border: 1px solid #E1E2E6;
      background: #fff;
      appearance: none;
      outline: none;
      box-shadow: none;
      box-sizing: border-box;
      border-radius: 4px;
      transition: all ease-out 0.2s;
      box-shadow: 0 0 0 0.5em #F2F3F5; }
      @media only screen and (max-width: 30em) {
        .post-subscribe .post-subscribe-form .post-subscribe-input {
          height: 3em;
          border-radius: 2px; } }
      .post-subscribe .post-subscribe-form .post-subscribe-input:hover {
        border-color: #D4D5D9; }
      .post-subscribe .post-subscribe-form .post-subscribe-input:focus {
        border-color: #36D995; }
    .post-subscribe .post-subscribe-form .post-subscribe-button {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0.25em;
      display: inline-block;
      height: 3em;
      padding: 0 1em;
      font-weight: 500;
      color: #fff;
      font-weight: 400;
      background: #36D995;
      border: 0;
      appearance: none;
      outline: none;
      box-shadow: none;
      box-sizing: border-box;
      border-radius: 2px;
      transition: all ease-out 0.2s; }
      @media only screen and (max-width: 30em) {
        .post-subscribe .post-subscribe-form .post-subscribe-button {
          position: relative;
          width: 100%;
          margin: 0.5em 0 0; } }
      .post-subscribe .post-subscribe-form .post-subscribe-button:hover, .post-subscribe .post-subscribe-form .post-subscribe-button:focus {
        background: #2DB77E; }

/* ==========================================================================
Post Nav
========================================================================== */
.post-nav {
  position: relative; }
  @media only screen and (max-width: 70em) {
    .post-nav {
      height: 7em;
      margin: 2em 0; } }
  .post-nav:after {
    clear: both;
    content: '';
    display: table; }
  .post-nav .post-nav-item {
    position: fixed;
    top: 50%;
    display: block;
    margin-top: -4em;
    overflow: hidden;
    border-radius: 10em;
    transition: none; }
    @media only screen and (max-width: 70em) {
      .post-nav .post-nav-item {
        position: absolute;
        top: auto;
        margin: auto;
        max-width: 50%; } }
    .post-nav .post-nav-item:hover, .post-nav .post-nav-item:focus {
      border-radius: 0; }
      .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-icon, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-icon {
        box-shadow: 0 0 0 25em #36D995; }
        @media only screen and (max-width: 50em) {
          .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-icon, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-icon {
            box-shadow: 0 0 0 2px #36D995; } }
      .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-info, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-info {
        display: block; }
        @media only screen and (max-width: 50em) {
          .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-info, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-info {
            display: none; } }
        .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-info .post-nav-title, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-info .post-nav-title {
          color: #1F2026; }
        .post-nav .post-nav-item:hover .post-nav-teaser .post-nav-info .post-nav-excerpt, .post-nav .post-nav-item:focus .post-nav-teaser .post-nav-info .post-nav-excerpt {
          color: #fff; }
    .post-nav .post-nav-item.post-nav-next {
      left: 0;
      text-align: left; }
      .post-nav .post-nav-item.post-nav-next .post-nav-icon {
        float: left; }
        .post-nav .post-nav-item.post-nav-next .post-nav-icon i {
          left: -0.05em; }
      .post-nav .post-nav-item.post-nav-next .post-nav-info {
        padding-left: 6em; }
    .post-nav .post-nav-item.post-nav-prev {
      right: 0;
      text-align: right; }
      .post-nav .post-nav-item.post-nav-prev .post-nav-icon {
        float: right; }
        .post-nav .post-nav-item.post-nav-prev .post-nav-icon i {
          right: -0.05em; }
      .post-nav .post-nav-item.post-nav-prev .post-nav-info {
        padding-right: 6em; }
    .post-nav .post-nav-item .post-nav-teaser {
      display: block;
      padding: 1em;
      transition: all ease-out 0.2s;
      max-width: 25em;
      overflow: visible; }
      .post-nav .post-nav-item .post-nav-teaser:after {
        clear: both;
        content: '';
        display: table; }
      .post-nav .post-nav-item .post-nav-teaser .post-nav-icon {
        display: block;
        width: 5em;
        height: 5em;
        line-height: 5em;
        text-align: center;
        box-sizing: border-box;
        border-radius: 10em;
        border: 1px solid #36D995;
        box-shadow: 0 0 0 0 transparent;
        transition: all ease-out 0.1s;
        background: #F2F3F5; }
        @media only screen and (max-width: 30em) {
          .post-nav .post-nav-item .post-nav-teaser .post-nav-icon {
            width: 4em;
            height: 4em;
            line-height: 4em; } }
        .post-nav .post-nav-item .post-nav-teaser .post-nav-icon i {
          position: relative;
          font-size: 2em; }
          @media only screen and (max-width: 30em) {
            .post-nav .post-nav-item .post-nav-teaser .post-nav-icon i {
              font-size: 1.5em; } }
          .post-nav .post-nav-item .post-nav-teaser .post-nav-icon i:before {
            margin: auto; }
      .post-nav .post-nav-item .post-nav-teaser .post-nav-info {
        display: none;
        width: 100%;
        box-sizing: border-box;
        transition: all ease-out 0.2s; }
        .post-nav .post-nav-item .post-nav-teaser .post-nav-info .post-nav-title {
          display: block;
          max-height: 1.25em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 1.25em 0 0.25em;
          font-size: 1em;
          line-height: 1.25em;
          font-weight: 700;
          color: #363740; }
        .post-nav .post-nav-item .post-nav-teaser .post-nav-info .post-nav-excerpt {
          display: block;
          max-height: 1.334em;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0;
          font-size: 0.75em;
          line-height: 1.334em;
          font-weight: 400;
          color: #9D9FA6; }

/* ==========================================================================
Pagination
========================================================================== */
.pagination {
  min-height: 3em;
  margin: 4em auto 2em;
  padding: 0;
  position: relative; }
  .pagination .pagination-item {
    position: relative;
    display: block;
    height: 3em;
    line-height: 3em;
    padding: 0 1em;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #363740;
    border: 1px solid #36D995;
    transition: all ease-out 0.1s;
    border-radius: 4em;
    z-index: 60; }
    .pagination .pagination-item:hover, .pagination .pagination-item:focus {
      color: #1F2026;
      box-shadow: 0 0 0 2px #36D995; }
    .pagination .pagination-item i {
      position: relative; }
    @media only screen and (max-width: 30em) {
      .pagination .pagination-item {
        width: 4em;
        height: 4em;
        line-height: 4em;
        margin-top: -0.5em;
        padding: 0 !important; }
        .pagination .pagination-item i {
          font-size: 1.5em; }
        .pagination .pagination-item > span {
          display: none; } }
  .pagination .pagination-prev {
    float: right; }
    .pagination .pagination-prev i {
      right: -0.05em; }
  .pagination .pagination-next {
    float: left; }
    .pagination .pagination-next i {
      left: -0.05em; }
  .pagination .pagination-info {
    display: block;
    left: 0;
    top: 0;
    height: 3em;
    line-height: 3em;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 50;
    color: #9D9FA6; }

/*# sourceMappingURL=style.css.map */