.bar-icon {
	max-height: 5rem;
}
.row-post{
	margin: 3rem auto !important;
}
.post {
	height: 23rem;
	border: 1px solid #3399ff;
	padding: 0;
}
div.post-title-date {
  width: 52rem;
  height: 2rem;
  background-color: #333;
  z-index: 100;

}
div.post-title{
  color: white;
}
div.post-date{
  color: white;
}


/* Post  style except the title&date bar*/
div.post-main {
  /*position: absolute;*/
  width: 100%;
  min-height: 23rem;
  font: .75em "lucida grande", arial, sans-serif;
}

div.post-container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

div.post-container span {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 23rem;
}

div.post-sizer div.post-container {
  color: #fff;
  background: #f0f0f0;
  overflow: hidden;
  right: 0;
}
div.post-sizer span {
  -webkit-transition: top 1s ease-out .3s;
  -moz-transition: top 1s ease-out .3s;
  -o-transition: top 1s ease-out .3s;
  -ms-transition: top 1s ease-out .3s;
  transition: top 1s ease-out .3s;
}

div.post-sizer span {
  
  top: 0;
}

div.post-sizer span + span {
  background: #333;
  top: 23rem;
}

div.post-sizer div:hover span {
  top: -23rem;
}

div.post-sizer div:hover span + span {
  top: 0;
}