html, body, a, div {
    font-family: Trebuchet_ms;
}

div#lat-bar {
    color: white;
    position: fixed;
    background: #222;
    width: 7rem;
    top: 20%;
    right: -5.5rem;
    border-radius: 8px;

}
div#lat-bar div {
    float: left;
}
div#lat-bar div#lat-bar-but {
    padding: 1rem 0.5rem;
    border-radius: 8px;
    text-align: center;
}
div#lat-bar div#lat-bar-content {
    width: 5rem;
}
img.mini-loghi {
    width: 40px;
}

div#lat-bar:hover {
    -webkit-transform:translateX(-5rem);
       -moz-transform:translateX(-5rem);
            transform:translateX(-5rem);
}
nav.mobile-bar{
    position: fixed;
}/*written here can override the core style,and only for this <nav> class*/
nav.tab-bar{
    background: none repeat scroll 0% 0% #222;
     -webkit-box-shadow: 1px 15px 17px 0px rgba(51, 181, 229, 0.45);
        -moz-box-shadow: 1px 15px 17px 0px rgba(51, 181, 229, 0.45);
             box-shadow: 1px 15px 17px 0px rgba(51, 181, 229, 0.45);
}
nav.top-bar {
    height: auto !important;
}
#content{padding-top: 2.9em;}/*NON FARE LA CLASSE!!!*/
.text-rwd{word-break:break-all;}
.vcard{
    width: 100%;
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    margin-left: 0;
}
ul.vcard li{border-top: 3px solid #33b5e3}
ul.vcard li:first-child{border-top: none;}
ul.vcard li:last-child{border-bottom: none;}
[class*="block-grid-"] > li {
    padding: 0;
}
li.sub-accordion{
    color: #000 !important;
}
h1.title{
    font-family:"Trebuchet MS", serif;
    font-weight: bolder;
    color: white;
    text-shadow:0 0 1px #33b5e5,
                0 0 5px #33b5e5,
                0 0 10px #33b5e5,
                0 0 15px #33b5e5,
                0 0 20px #33b5e5;
}
img.top-4-mobile-bar{
    margin-top: 3rem;
}
.reveal-modal{
    box-shadow: 0 0 80px #33b5e5;
}
.reveal-modal h2{
    color: #c9c9c9;
    text-shadow:0 0 1px #33b5e5,
                0 0 5px #33b5e5;
}
.close-reveal-modal{
    background-color: white;
    width: 2rem;
    height: 2rem;
    border-radius: 5px;
    font-size: 3.375rem !important;
}
.exit-off-canvas:{
    box-shadow: -4px 0 4px rgba(0, 0, 0, 0.9), 4px 0 4px rgba(0, 0, 0, 0.9) !important;
}
.flex-video{
    margin-bottom: 0;
}
/*
.accordion dd.active a{
    background-color: #000;
}*/

ul.off-canvas-list li a {
    color: #008cba;
}
.accordion dd > a {
    color: #008cba;
}

@media only screen and (max-width: 40em) {
	    #content {
            overflow-y: auto;
            overflow-x: hidden; 
        }
        #content,
        body,
        html,
        .off-canvas-wrap, 
        .off-canvas-wrap .inner-wrap {
            height: 100%;
            width: 100%;
        }
        .header {
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 99;
        }
}
@media only screen and (min-width: 40.063em){
    #content{
        padding: 0;
    }
}

@font-face {
    font-family: Trebuchet_ms;
    src: url(../font/Trebuchet MS.ttf);
}