<nav>
      <ul class="nav nav-pills">
        <li ng-class="{ active:navtab.isSet(1) }">
          <a href="" ng-click="navtab.setTab(1)">Store</a>
        <li ng-class="{ active:navtab.isSet(2) }">
          <a href="" ng-click="navtab.setTab(2)">Stats</a>
      </ul>
</nav>