html, body {
  height: 100%;
}
body {
  background-color: #fff;
  font-family: sans-serif;
  margin: 0;
  overflow: hidden;
}
h1 {
  font-weight: normal;
  font-size: 140%;
  margin-left: 5px;
  margin-right: 5px;

/* Tabs */
#tabRow>td {
  border: 1px solid #ccc;
}
td.tabon {
  border-bottom-color: #ddd !important;
  background-color: #ddd;
  padding: 5px 19px;
}
td.taboff {
  cursor: pointer;
  padding: 5px 19px;
}
td.taboff:hover {
  background-color: #eee;
}
td.tabmin {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
}
td.tabmax {
  border-top-style: none !important;
  border-left-style: none !important;
  border-right-style: none !important;
  width: 99%;
  text-align: right;
}
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  border: none;
}
td {
  padding: 0;
  vertical-align: top;
}
.content {
  visibility: hidden;
  margin: 0;
  padding: 1ex;
  position: absolute;
  direction: ltr;
}
pre.content {
  overflow: scroll;
}
#content_blocks {
  padding: 0;
}
.blocklySvg {
  border-top: none !important;
}
#content_xml, #content_wysiwyg {
  resize: none;
  outline: none;
  border: none;
  font-family: monospace;
  overflow: scroll;
}
button {
  padding: 1px 1em;
  font-size: 90%;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #eee;
  color: black;
}
button.launch {
  border: 1px solid #d43;
  background-color: #d43;
  color: white;
}
button:active {
  border: 1px solid blue !important;
}
button:hover {
  box-shadow: 2px 2px 5px #888;
}
.ui-dialog, .ui-dialog-content, #dialog_share{
  overflow: hidden;
  max-height: 462px !important;
  border: none;
  padding: 0 !important;
}
.col2{
  width: 46%;
  display: inline-block;
  float: left;
  padding: 0em 1em;
}
.col2 p{
  margin-top: 4px !important;
  margin-bottom: 4px !important;
}
.col2 textarea, .col2 input[type="text"]{
  min-width: 26rem;
  max-width: 500px;
  margin: 1rem auto;
}
form{
  margin-bottom: 0px;
}
.tg  {
  border-collapse:collapse;
  border-spacing:0; 
  float: left;
}
.tg td{
  font-family:Arial, sans-serif;
  font-size:14px;
  padding:20px 23px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}
.tg th{
  font-family:Arial, 
  sans-serif;font-size:14px;
  font-weight:normal;
  padding: 20px;
  border-style:solid;
  border-width:1px;
  overflow:hidden;
  word-break:normal;
}
.tg2 {
  margin-top: 10px;
}
.tg2 th{
  padding: 24px 20px;
}
.tg2 td{
  padding: 24px 22px;
}
.board{
  width: 250px;
  height: 190px;
  position: absolute;
  top: 34%;
  left: 42%;
  background-image: url("svg/breadboard.svg");
}
.left-col, .right-col, .bottom-col, .top-col{
  position: absolute;
}
.left-col, .right-col{top: 33%;}
.left-col{left: 33%;}
.right-col{left: 66%;}
.top-col, .bottom-col{left: 45%;}
.top-col{top: 20%;}
.bottom-col{top: 75%;}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}
.grove_{
  background-image: url(svg/.svg);
}