<div tabindex="0" class="onclick-menu">
    <ul class="onclick-menu-content">
        <li><a href="#" id="save_button" onclick="save()">Look, mom</a></li>
        <li><a href="#" id="save_button" onclick="share()">Share Project</a></li>
    </ul>
</div>
<style type="text/css" media="screen">
    .onclick-menu {
    position: relative;
    display: inline-block;
}
.onclick-menu:before {
    content: "";
}
.onclick-menu:focus {
    /* clicking on label should toggle the menu */
    pointer-events: none;
}
.onclick-menu:focus .onclick-menu-content {
    /*  opacity is 1 in opened state (see below) */
    opacity: 1;
    visibility: visible;

    /* don't let pointer-events affect descendant elements */
    pointer-events: auto;
}
.onclick-menu-content {
    position: absolute;
    z-index: 1;

    /* use opacity to fake immediate toggle */
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s;
}
</style>