<!DOCTYPE html>
<html ng-app="gemStore">
    <meta charset="utf-8" />
    <title>AngularJS</title>
    <link data-require="bootstrap-css" data-semver="3.1.1" rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.15/angular.js" data-semver="1.2.15"></script>
    <script data-require="jquery@*" data-semver="2.0.3" src="https://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/products.js"></script>
    <script src="js/nav.js" ></script>
    <script src="js/libs/d3.min.js"></script>

  <body ng-controller="StoreController as store">

    <!--navigation buttons-->
    <navigation-tabs></navigation-tabs>

    <div ng-show="navtab"  id="main-container">
      <!--  Store Header  -->
      <header>
        <h1 class="text-center">AngularJS Gem Store</h1>
      </header>
      
      <!--  Products Container  -->
      <div class="list-group">
        <!--  Product Container  -->
        <div class="list-group-item" ng-repeat="product in store.products | orderBy:'price'">
          
          <!-- $index Practice:  -->
          <h3>Gem #{{$index + 1}}: {{product.name | uppercase}}<em class="pull-right">{{product.price | currency}}</em>
          </h3>
          
          <!-- Image Gallery  -->
          <div ng-show="product.images.length" ng-controller="GalleryController as gallery">
            <div class="img-wrap">
              <img ng-src="{{product.images[gallery.imageIndex]}}" class="img-thumbnail center-block" />
            </div>
            <ul class="img-thumbnails clearfix">
              <li class="small-image pull-left thumbnail" ng-repeat="image in product.images" ng-click="gallery.currentImageChange($index)">
                <img ng-src="{{image}}" />
              </li>
            </ul>
          </div>
          
          <!-- Product Tabs  -->
          <product-tabs></product-tabs>
          
        </div>
      </div>
    </div>
  </body>
</html>
