body {
 	-webkit-animation: appear 1.5s linear;
 	-moz-animation: appear 1.5s linear;
 	-o-animation: appear 1.5s linear;
 	animation: appear 1.5s linear;
}
img,video {
	-webkit-box-shadow:0px 3px 4px rgba(0, 0, 0, 0.8), 0px 6px 8px rgba(0, 0, 0, 0.6), 0px 12px 16px rgba(0, 0, 0, 0.4),0px 1px 40px rgba(0, 0, 0, 0.3) inset;
       -moz-box-shadow:0px 3px 4px rgba(0, 0, 0, 0.8), 0px 6px 8px rgba(0, 0, 0, 0.6), 0px 12px 16px rgba(0, 0, 0, 0.4),0px 1px 40px rgba(0, 0, 0, 0.3) inset;
            box-shadow:0px 3px 4px rgba(0, 0, 0, 0.8), 0px 6px 8px rgba(0, 0, 0, 0.6), 0px 12px 16px rgba(0, 0, 0, 0.4),0px 1px 40px rgba(0, 0, 0, 0.3) inset;
}
nav {
	width: 82%;
	margin:0px 10%;
	position: fixed;
	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
			box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
nav ul li {
	max-width: 20.47%;
	height: 100%;
	padding: 0 1em;
	text-align: center;
}
nav ul li a {
	font-size: 2em;
	-webkit-box-shadow:0px 0px 0px  rgba(255,255,255,0);
         -o-box-shadow:0px 0px 0px  rgba(255,255,255,0);
            box-shadow:0px 0px 0px  rgba(255,255,255,0);
    -webkit-transition: box-shadow .5s ease;
		 -o-transition: box-shadow .5s ease;
			transition: box-shadow .5s ease;
}
nav ul li a:hover,
nav ul li a:active {
	color: #ffffff;
	background-color: rgba(0,0,0,0);
	-webkit-box-shadow:0px 5px 0px  rgba(255,255,255,1);
       -moz-box-shadow:0px 5px 0px  rgba(255,255,255,1);
            box-shadow:0px 5px 0px  rgba(255,255,255,1);
}
#bigbox {
	padding:0 2em;
	padding-top:23px;
}
h1 {
	font-size: 4em;
	height: 4.3em;
	line-height: 4em;
	background-size: 4em;
}
header {padding: 11em 0;}
section {padding: 1em}
section.gallery5 img {
	max-width: 250px;
	width: 15.5em;
	height: 190px;
	float: left;
	display: inline-block;
}
section article {padding: 2em 0;clear: left;}
section.team {
	max-width: 33.3%;
	float: left;
	display: inline-block;
	padding: 0;
}