<div class="shape">
    <div class="top"></div>
    <div class="botto*"></div>
</div>
<style>
.shape {
    width:400px;
    margin:0 auto;
}
.top {
    height:0;
    border-width:0 0 400px 150px;
    border-style:solid;
    border-color:transparent #d71f55 #c9c9c9 #c56789;
}
.bottom {
    height: 50px;
    background-color:#d71f55;
}
</style>