@-webkit-keyframes appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@-o-keyframes appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
@keyframes appear {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@-webkit-keyframes pulse { 
  0% {-webkit-box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);} 
  50% {-webkit-box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.5);} 
  100% {-webkit-box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);}
}
 @-o-keyframes pulse { 
  0% {-o-box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);} 
  50% {-o-box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.5);} 
  100% {-o-box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);}
 }
@keyframes pulse { 
	0% {box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);} 
	50% {box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.5);} 
	100% {box-shadow: inset 0 0 25px rgba(255, 255, 255, 0.3);}
}

@-webkit-keyframes loading {
	0% {-webkit-transform:rotate(0deg);}
	100% {-webkit-transform:rotate(360deg);}
}
@-o-keyframes loading {
	0% {-o-transform:rotate(0deg);}
	100% {-o-transform:rotate(360deg);}
}
@keyframes loading {
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);}
}