@font-face {
font-family: 'Russo';
src: url(../fonts/Russo.ttf);
}
:focus {outline: rgb(54, 144, 240) auto 5px;}
::selection {background-color: rgba(255,255,255,1);color:#000;}
::-o-selection {background-color: rgba(255,255,255,1);color:#000;}
::-ms-selection {background-color: rgba(255,255,255,1);color:#000;}
::-moz-selection {background-color: rgba(255,255,255,1);color:#000;}
::-webkit-selection {background-color: rgba(255,255,255,1);color:#000;}
::input-placeholder {color: #999;font-style: italic;}
::-o-input-placeholder {color: #999;font-style: italic;}
::-moz-input-placeholder {color: #999;font-style: italic;}
::-webkit-input-placeholder {color: #999;font-style: italic;}
body {
	font-family: 'Lucida Grande','Roboto',trebuchet,sans-serif;
	margin: 0;
	padding: 0;
	color: #000000;
	background: #ffffff;
}
a,
a:link,
a:visited {
	color: #ffffff;
	text-decoration: none;
	text-align: center;
}
a:active
a:hover {
	text-decoration: none;
}
img {max-width: 100%;}
img,video{
	-webkit-box-shadow:0px 3px 4px rgba(0, 0, 0, 0.8), 0px 6px 8px rgba(0, 0, 0, 0.4), 0px 1px 40px rgba(0, 0, 0, 0.3) inset;
       -moz-box-shadow:0px 3px 4px rgba(0, 0, 0, 0.3), 0px 6px 8px rgba(0, 0, 0, 0.4), 0px 1px 40px rgba(0, 0, 0, 0.3) inset;
            box-shadow:0px 3px 4px rgba(0, 0, 0, 0.3), 0px 6px 8px rgba(0, 0, 0, 0.4), 0px 1px 40px rgba(0, 0, 0, 0.3) inset;
}
ul {,
	margin: 0 -30px;
	list-style-type: none;
	word-break:break-strict;
}
ul li label {color: rgb(54, 144, 240);text-transform: capitalize;}
em{font-style: italic;}
b{font-weight: bolder;}
p {
	margin: 0;
	padding: 0;
}
h1 {
	height: 8.3em;
	text-align: center;
	font-size: 2em;
	line-height: 8em;
	background-image: url(../imgs/of-icon2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 6em;
}
h4 {
	color: #ffffff;
	font-size: 1.25em;
	text-shadow:0 1px 0px #999,
    			0 2px 0px #888,
    			0 3px 0px #777,
    			0 4px 0px #666,
    			0 5px 0px #555,
    			0 6px 0px #444,
    			0 7px 0px #333,
    			0 8px 7px #001135;
}
nav {
	width: 100%;
	margin: 0px;
	height: 3em;
	background-color: rgb(54, 144, 240);
	text-align: center;
    z-index: 100;
}
nav ul {
	margin: 0px;
	padding: 0px;
	height: 100%;
	list-style-type: none;
}
nav ul li {
	display: inline-block;
	width: 32%;
	height: 100%;
}
nav ul li a {
	text-transform: capitalize;
	display: block;
	font-size: 1.7em;
	width: 100%;
	height: 100%;
	
}
nav ul li a:hover,
nav ul li a:active {
	color: rgb(54, 144, 240);
	background-color: rgb(255,255,255); 
	text-decoration: none;
}
#bigbox {
	margin:0;
	padding-top:.7em;
}
header{
	padding: 1em 0;
	text-align: center;
	background: rgb(54,144,240); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1)));
	background: -webkit-linear-gradient(-45deg, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
	background: linear-gradient(135deg, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	-webkit-box-shadow:0px 3px 4px rgba(0, 0, 0, 0.3), 0px 0px 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0px 3px 4px rgba(0, 0, 0, 0.3), 0px 0px 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0px 3px 4px rgba(0, 0, 0, 0.3), 0px 0px 40px rgba(0, 0, 0, 0.1) inset;
    color: #fff;
    font-family: 'Russo';
    text-shadow:0 1px 0px #999,
    			0 2px 0px #888,
    			0 3px 0px #777,
    			0 4px 0px #666,
    			0 5px 0px #555,
    			0 6px 0px #444,
    			0 7px 0px #333,
    			0 8px 7px #001135;
}
section {text-align: center;}
section img {}
section video {max-width: 100%;}
article,article p{
	padding:1em;
	text-align:justify;
	list-style-type: none;
}
article p::selection, article p ul li label::selection {background-color: rgb(0,0,0);color:#ffffff;}
article p::-o-selection, article p ul li label::-o-selection {background-color: rgb(0,0,0);color:#ffffff;}
article p::-ms-selection, article p ul li label::-ms-selection {background-color: rgb(0,0,0);color:#ffffff;}
article p::-moz-selection, article p ul li label::-moz-selection {background-color: rgb(0,0,0);color:#ffffff;}
article p::-webkit-selection, article p ul li label::-webkit-selection {background-color: rgb(0,0,0);color:#ffffff;}
footer {
	min-height: 200px;
	padding: 1em 2em;
	text-align: center;
	background: rgb(54,144,240);
	clear: left;
}
footer p {
	color: #ffffff;
	font-size: 1.1em;
	font-family: 'Roboto',sans-serif;
}